---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout";

banner {
  text-align: center;
  background-color: #01FF70;
  background-color: rgb(236, 233, 216);
  display: block;
  margin-bottom: 5px;
  box-shadow: #ccc 1px 1px 1px;
}

banner a {
  color: #333;
  &:hover {
    background-color: #7FDBFF;
    text-decoration: none;
  }

  &:visited {
    color: #333;
  }

  display: block;
  padding: 5px;
}